/* Alyssa made this folder on Tues. 10.27 */

/* We all worked on the navbar on 11.5 */

/* Ria worked on this on 11.6 minor formatting changes (color and font)*/

/* Ria changed some fonts and colors and added content */

/* Ria added some info, and changed inmages! /*/
h3 {
    font-family: sans-serif;
    color: #006280
    
    
    }
    #navbar {
        background-color: #b3edff;
    }
    
    #navbar li {
        display: inline-block;
    }
    
    a {
    font-family: sans-serif;
        color: #006280
    }
    
    body
    {
    text-align: center;
    background-color: #e6f9ff;
    }

    img {
        border-radius: 10%;
      }
      img:hover {
        width: 30%;}
        
    td {
        font-family: sans-serif;
        text-align: center;
        font-size: large;
        color: #006280;
        
    }

    td {
        background-color: #b3edff;
    }

    table {
        text-align: center
    }