/* Alyssa made this folder on Tues. 10.27 */

/* We all worked on the navbar on 11.5 */

/* Ria worked on this on 11.6 minor formatting changes (color and font)*/

/* Ria changed some fonts and colors and added content */

/* Ria added some info, and changed inmages! /*/
h3 {
    background-color:lightblue;
    font-family: 'Courier New', Courier, monospace;
    color: #006280
    
}
    #navbar {
        background-color: #b3edff;
    }
    
    #navbar li {
        display: inline-block;
    }
    
    a {
    font-family: 'Courier New', Courier, monospace;
    font: bold;
        color: #006280
    }
    
    body
    {
    text-align: center;
    background-color: #e6f9ff;
    }

    img {
        border-radius: 10%;
        border:8px lightblue;
        padding: 10px;
      }


      
        
    td {
        text-align: left;
        font-size: large;
        color: #006280;
        padding: 60px;
        background-color: lightblue;
        font-size: 20;
        font-family: 'Courier New', Courier, monospace;
    }



    table {
        text-align: left;
        width: 100%;
        border-spacing: 4rem;
    }

    table#one td {
            text-align: left;
            font-size: large;
            color: #006280;
            padding: 60px;
            background-color: lightblue;
            font-size: 20;
            font-family: 'Courier New', Courier, monospace;
        }


    ul
    {
        list-style-position: outside;
    }