 /* briana created this file on 10.27.20 */

 /* briana created this file on 10.27.20 */
  /* briana added the backgrounf color on 11.11.20  */
  #navbar {
    border-style: dotted;
    border-width: 5px;
    border-color: rgb(253, 230, 98);
 }
 
 
 body {
    background-color:#ffe6e9;

 }